#banner {
  background-position: center;
}

#header > h1 {
  visibility: hidden;
}

@media (min-width: 1280px) {
  #nav {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: none;
    visibility: visible;
    background: transparent;
    height: auto;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    font-weight: bold;
    text-shadow: #000 0 0 3px;
  }
  .menu-toggler, #nav .close {
    visibility: hidden;
  }
  #nav li {
    display: inline-block;
  }
  #nav .links {
    margin: 1em 2em 0 0;
  }
}
